#Node.js
node_modules/

#Logs
logs
.log
npm-debug.log

#Dependency directories
pids
*.pid
*.seed
*.pid.lock

#Optional npm cache directory
.npm

#Optional eslint cache
.eslintcache

#dotenv environment variables file
.env

#macOS
.DS_Store

#Windows
Thumbs.db
ehthumbs.db

#IDEs and editors
.vscode/
.idea/
*.suo
.ntvs
*.njsproj
*.sln
*.sw?